<section class = "demo">
    <h1>Controls</h1>

<ul class = "controls">
    <li> left arrow = move left </li>
    <li> right arrow = move right </li>
    <li> up arrow = jump </li>
</ul>
</section>

<video width="400" controls>
  <source src="https://doc-0c-b0-docs.googleusercontent.com/docs/securesc/ku3dprom37cliiiq6648c7rvco08862f/mh3jv5jrf2bj1cnh2o1qpvh285vu3lp2/1657141875000/07287022526177888217/03913081857768241246Z/1aBycwvFXLWTTZZwZph3CjBbuwFxSkm8G?e=download&uuid=5e64d6eb-3379-4f8b-9ad1-4cc8b01fdb8f" type="video/mp4">
  Your browser does not support HTML video.
  <a href="https://doc-0c-b0-docs.googleusercontent.com/docs/securesc/ku3dprom37cliiiq6648c7rvco08862f/mh3jv5jrf2bj1cnh2o1qpvh285vu3lp2/1657141875000/07287022526177888217/03913081857768241246Z/1aBycwvFXLWTTZZwZph3CjBbuwFxSkm8G?e=download&uuid=5e64d6eb-3379-4f8b-9ad1-4cc8b01fdb8f" target="_blank"></a>
</video>


<a href="/images/Demo.mov" target="_blank"></a>


    