<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.15.1/dist/phaser-arcade-physics.min.js"></script>
    
</head>
<body>

    <div id="review">
    <h1>Use the arrow keys to move!</h1>
    <a href="/reviews">Click here to leave a review!</a>
    </div>
    <script src="javascript/index.js"></script>
</body>
</html>

