


<div class="box">
	<p> Welcome to Jumpman! 
    <br> <br>
    Jump to collect all the crystals to advance to the next level! <br>
    Click the demo button at the top for a preview and instructions. </p>
</div>
    
   
    <h2>Login or Sign Up!</h2>
     <div class = "ls">
    <p>
      <button class="button" data-modal="modalOne">Login</button>
    </p>
    <p>
      <button class="button" data-modal="modalTwo">Sign Up</button>
    </p>
    </div>
    <div id="modalOne" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close">&times;</a>
          <form action="/">
            <h2>Login</h2>
            <div>
              <input type="text" name="name" placeholder="Email" />
              <input type="password" name="name" placeholder="Password" />
            </div>
            <button type="submit" href="">Enter</button>
          </form>
        </div>
      </div>
    </div>
    <div id="modalTwo" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <span class="close">&times;</span>
          <form action="/">
            <h2>Sign Up</h2>
            <div>
              <input class="fname" type="text" name="name" placeholder="First Name" />
              <input type="text" name="name" placeholder="Last Name" />
              <input type="text" name="name" placeholder="Email" />
              <input type="password" name="name" placeholder="Password" />
            </div>
            <button type="submit" href="/">Enter</button>
          </form>
        </div>
      </div>
    </div>

      <h2> Play Now! </h2>
  <form>
  <input placeholder="Name"><br>
  <input type="submit" value="Enter">
  </form>

    <script src= "/javascript/modal.js"> </script>

    