<div class="box">
	<p> Welcome to Jumpman! 
    <br> <br>
    Jump to collect all the crystals to advance to the next level! <br>
    Click the demo button at the top for a preview and instructions. </p>
</div>
    
   
  
    <script src= "/javascript/modal.js"> </script>
