
  <div>
      <h1> Play Crystal World! </h1>
      <h2>Welcome!</h2>

  <p>Hello!</p>

  <p>Login, create a profile, or play as a guest! Have fun!</p>


  <h2> Play Now! </h2>
  <form>
  <input placeholder="Name"><br>
  <input type="submit" value="Enter">
  </form><br>

    <h2>Login or Sign Up!</h2>
    <p>
      <button class="button" data-modal="modalOne">Login</button>
    </p>
    <p>
      <button class="button" data-modal="modalTwo">Sign Up</button>
    </p>
    <div id="modalOne" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close">&times;</a>
          <form action="/">
            <h2>Login</h2>
            <div>
              <input type="text" name="name" placeholder="Email" />
              <input type="password" name="name" placeholder="Password" />
            </div>
            <button type="submit" href="">Enter</button>
          </form>
        </div>
      </div>
    </div>
    <div id="modalTwo" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <span class="close">&times;</span>
          <form action="/">
            <h2>Sign Up</h2>
            <div>
              <input class="fname" type="text" name="name" placeholder="First Name" />
              <input type="text" name="name" placeholder="Last Name" />
              <input type="text" name="name" placeholder="Email" />
              <input type="password" name="name" placeholder="Password" />
            </div>
            <button type="submit" href="/">Enter</button>
          </form>
        </div>
      </div>
    </div>

    <script src= "/javascript/modal.js"> </script>

    