<section class="homepage">
  <div class="box">
    <h1 class="box-text"> Welcome to Crystal Jumper!</h1>
    <p class="box-text">
      Collect the crystals to get to the next level!
    </p>
    <p class="box-text">
      Avoid getting hit by the spikeballs!
    </p>
    <p class="box-text">
      please log in to play now!
    </p>
  </div>

  <div class = "">
  <img src="/assets/game2.gif">
  </div>    

  <div class="">
    {{#if loggedIn}}
    <div class="play-button">
      <h1 class="play-now"><a href="/game" class="play-now">Play Crystal Jumper</a></h1>
    </div>
    {{/if}}
  </div>
</section>
  
<script src= "/javascript/modal.js"> </script>
